/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2015, 8:49:47 PM
    Author     : Michael
*/



h1{
    margin: 5px auto auto auto;
}

div.header{                
    border: double;
    padding:0;
    max-width: 400px;
    min-width: 400px;
    background-color: rgb(211, 227, 229);
    text-align: center;
}

